<meta charset="utf-8"/>
<button id="mybutton">DOWNLOAD</button>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script>

const objectToCsv=function(data){

const csvRows = [];

//get the headers
const headers= Object.keys(data[0]);
csvRows.push(headers.join(','));
//console.log(csvRows);
//loop over rows

for (const row of data){
   const values= headers.map(header => {
       const val=row[header];
       const escaped= (''+row[header]).replace(/"/g, '\\"')
        return `"${escaped}"`;
    });
    csvRows.push(values.join(','));
}
//console.log(csvRows);

return csvRows.join('\n');
};



const download=function(data){
   const blob= new Blob([data],{type:'text/csv'});
    const url=window.URL.createObjectURL(blob);
    const a=document.createElement('a');
    a.setAttribute('hidden','');
    a.setAttribute('href',url);
    a.setAttribute('download',' Pyranometer.csv');

document.body.appendChild(a);
a.click();
document.body.removeChild(a);
};

    const getReport=async function() {
        const jsonUrl="http://localhost:3003/snr1";
        const res=await fetch(jsonUrl);
        const json=await res.json();
        const data1= json
        console.log(data1);
        
        
        const jsonUrl2="http://localhost:3003/snr2";
        const res2=await fetch(jsonUrl2);
        const json2=await res2.json();
        const data2= json2
        console.log(data2);

        
        const jsonUrl3="http://localhost:3003/snr3";
        const res3=await fetch(jsonUrl3);
        const json3=await res3.json();
        const data3= json3
        console.log(data3);

        
        const jsonUrl4="http://localhost:3003/snr4";
        const res4=await fetch(jsonUrl4);
        const json4=await res4.json();
        const data4= json4
        console.log(data4);

           const jsonUrl5="http://localhost:3003/snr5";
        const res5=await fetch(jsonUrl5);
        const json5=await res5.json();
        const data5= json5
        console.log(data5);
        
        
        const jsonUrl6="http://localhost:3003/snr6";
        const res6=await fetch(jsonUrl6);
        const json6=await res6.json();
        const data6= json6
        console.log(data6);

        
        const jsonUrl7="http://localhost:3003/snr7";
        const res7=await fetch(jsonUrl7);
        const json7=await res7.json();
        const data7= json7
        console.log(data7);

        
        const jsonUrl8="http://localhost:3003/snr8";
        const res8=await fetch(jsonUrl8);
        const json8=await res8.json();
        const data8= json8
        console.log(data8);


 var jsonArray1 = data1.map(function(v){
    
    var ret;
    
    $.each(data2, function(k, v2){
        
        if(v2.timestamp === v.timestamp){
            ret = $.extend({}, v2, v);
            return false;
        }      
    });
    
    return ret;
   
}); 
 
var jsonArray2 = data3.map(function(v){
    
    var ret;
    
    $.each(data4, function(k, v2){
        
        if(v2.timestamp === v.timestamp){
            ret = $.extend({}, v2, v);
            return false;
        }      
    });
    
    return ret;
  
}); 

var jsonArray3 = data5.map(function(v){
    
    var ret;
    
    $.each(data6, function(k, v2){
        
        if(v2.timestamp === v.timestamp){
            ret = $.extend({}, v2, v);
            return false;
        }      
    });
    
    return ret;
  
}); 

var jsonArray4 = data7.map(function(v){
    
    var ret;
    
    $.each(data8, function(k, v2){
        
        if(v2.timestamp === v.timestamp){
            ret = $.extend({}, v2, v);
            return false;
        }      
    });
    
    return ret;
  
}); 






       
 var finaldata1= jsonArray1.map(row =>({
 Date:row.timestamp, SRAD_140645:row.SRAD_140645, SRAD_140659:row.SRAD_140659

 }));
 
 var finaldata2= jsonArray2.map(row =>({
 Date:row.timestamp,SRAD_140763:row.SRAD_140763,SRAD_140764:row.SRAD_140764 
 }));

  var finaldata3= jsonArray3.map(row =>({
 Date:row.timestamp, T_140645:row.temp_140645, T_140659:row.temp_140659

 }));
 
 var finaldata4= jsonArray4.map(row =>({
 Date:row.timestamp,T_140763:row.temp_140763,T_140764:row.temp_140764 
 }));



var finalarray1 = finaldata1.map(function(v){
     
    var ret;
    
    $.each(finaldata2, function(k, v2){
        
        if(v2.Date=== v.Date){
            ret = $.extend({}, v2, v);
            return false;
        }      
    });
    
    return ret;

});


var finalarray2 = finaldata3.map(function(v){
     
     var ret;
     
     $.each(finaldata4, function(k, v2){
         
         if(v2.Date=== v.Date){
             ret = $.extend({}, v2, v);
             return false;
         }      
     });
     
     return ret;
 
 });


var finalarray3 = finalarray1.map(function(v){
     
     var ret;
     
     $.each(finalarray2, function(k, v2){
         
         if(v2.Date=== v.Date){
             ret = $.extend({}, v2, v);
             return false;
         }      
     });
     
     return ret;
 
 });



var finaldata_1 = finalarray3.map(row =>({
    //DL1
            Date:row.Date,
            SRAD_140645:row.SRAD_140645,
             SRAD_140659:row.SRAD_140659,
             SRAD_140763:row.SRAD_140763,
             SRAD_140764:row.SRAD_140764,
             T_140645:row.T_140645,
             T_140659:row.T_140659,
             T_140763:row.T_140763,
             T_140764:row.T_140764,


        
}));
const csvData=objectToCsv(finaldata_1);

 //console.log(csvData);
 download(csvData);
    }; 
 

(function(){
    const button=document.getElementById('mybutton');
    button.addEventListener('click', function(){getReport()});

})();

</script>

