<meta charset="utf-8"/>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
    
    #grad1 {
    height: 100%;
    background-color: blue; /* For browsers that do not support gradients */
    background-image: linear-gradient(powderblue,DodgerBlue); /* Standard syntax (must be last) */
}

.mybutton {
        background-color: DodgerBlue;
        border: none;
        color: white;
        padding: 12px 30px;
        text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }
    
    /* Darker background on mouse-over */
    .mybutton:hover {
        background-color: RoyalBlue;
    }
    .mybutton{border-radius:12px;}

* {box-sizing: border-box;}

.img-comp-container {
  position: relative;
  height: 500px; /*should be the same height as the images*/
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;
}

.img-comp-img img {
  display:block;
  vertical-align:middle;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
}

#myProgress {
  width: 50%;
  background-color: #ddd;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}




    </style>
 <script>

const objectToCsv=function(data){

const csvRows = [];

//get the headers
const headers= Object.keys(data[0]);
csvRows.push(headers.join(','));
//console.log(csvRows);
//loop over rows

for (const row of data){
   const values= headers.map(header => {
       const val=row[header];
       const escaped= (''+row[header]).replace(/"/g, '\\"')
        return `"${escaped}"`;
    });
    csvRows.push(values.join(','));
}
//console.log(csvRows);

return csvRows.join('\n');
};



const download=function(data){
   const blob= new Blob([data],{type:'text/csv'});
    const url=window.URL.createObjectURL(blob);
    const a=document.createElement('a');
    a.setAttribute('hidden','');
    a.setAttribute('href',url);
    a.setAttribute('download','inverters.csv');

document.body.appendChild(a);
a.click();
document.body.removeChild(a);
};

    const getReport=async function() {
        const jsonUrl="http://localhost:3003/inv";
        const res=await fetch(jsonUrl);
        const json=await res.json();
        const data1= json
        console.log(data1);
        
        const jsonUrl3="http://localhost:3003/inv3";
        const res3=await fetch(jsonUrl3);
        const json3=await res3.json();
        const data3= json3
        console.log(data3);
    

const jsonUrl5="http://localhost:3003/inv5";
        const res5=await fetch(jsonUrl5);
        const json5=await res5.json();
        const data5= json5
        console.log(data5);

       const jsonUrl7="http://localhost:3003/inv7";
        const res7=await fetch(jsonUrl7);
        const json7=await res7.json();
        const data7= json7
        console.log(data7);

       const jsonUrl9="http://localhost:3003/inv9";
        const res9=await fetch(jsonUrl9);
        const json9=await res9.json();
        const data9= json9
        console.log(data9);

      const jsonUrl11="http://localhost:3003/inv11";
        const res11=await fetch(jsonUrl11);
        const json11=await res11.json();
        const data11= json11
        console.log(data11);

           //2ND PART 
        const jsonUrl2="http://localhost:3003/inv2";
        const res2=await fetch(jsonUrl2);
        const json2=await res2.json();
        const data2= json2
        console.log(data2);

        const jsonUrl4="http://localhost:3003/inv4";
        const res4=await fetch(jsonUrl4);
        const json4=await res4.json();
        const data4= json4
      console.log(data4);
        
     
        const jsonUrl6="http://localhost:3003/inv6";
        const res6=await fetch(jsonUrl6);
        const json6=await res6.json();
        const data6= json6
        console.log(data6);

         const jsonUrl8="http://localhost:3003/inv8";
        const res8=await fetch(jsonUrl8);
        const json8=await res8.json();
        const data8= json8
       console.log(data8);

        const jsonUrl10="http://localhost:3003/inv10";
        const res10=await fetch(jsonUrl10);
        const json10=await res10.json();
        const data10= json10
        console.log(data10);


        const jsonUrl12="http://localhost:3003/inv12";
        const res12=await fetch(jsonUrl12);
        const json12=await res12.json();
        const data12= json12
       console.log(data12);


 var jsonArray1 = data1.map(function(v){
    
    var ret;
    
    $.each(data2, function(k, v2){
        
        if(v2.timestamp === v.timestamp){
            ret = $.extend({}, v2, v);
            return false;
        }      
    });
    
    return ret;
    
}); 


var jsonArray2 = data3.map(function(v){
    
    var ret;
    
    $.each(data4, function(k, v2){
        
        if(v2.timestamp === v.timestamp){
            ret = $.extend({}, v2, v);
            return false;
        }      
    });
    
    return ret;
  
}); 


var jsonArray3 = data5.map(function(v){
    
    var ret;
    
    $.each(data6, function(k, v2){
        
        if(v2.timestamp === v.timestamp){
            ret = $.extend({}, v2, v);
            return false;
        }      
    });
    
    return ret;
    
}); 




var jsonArray4 = data7.map(function(v){
    
    var ret;
    
    $.each(data8, function(k, v2){
        
        if(v2.timestamp === v.timestamp){
            ret = $.extend({}, v2, v);
            return false;
        }      
    });
    
    return ret;
    
}); 



var jsonArray5 = data9.map(function(v){
    
    var ret;
    
    $.each(data10, function(k, v2){
        
        if(v2.timestamp === v.timestamp){
            ret = $.extend({}, v2, v);
            return false;
        }      
    });
    
    return ret;
    
}); 



var jsonArray6 = data11.map(function(v){
    
    var ret;
    
    $.each(data12, function(k, v2){
        
        if(v2.timestamp === v.timestamp){
            ret = $.extend({}, v2, v);
            return false;
        }      
    });
    
    return ret;
    
}); 
 

       
 var finaldata1= jsonArray1.map(row =>({
Date:row.timestamp, P_AC1: row.P_AC1, P_AC2:row.P_AC2, P_AC3:row.P_AC3,P_AC4:row.P_AC4,
 P_AC5:row.P_AC5, P_AC6:row.P_AC6,P_AC7:row.P_AC7,P_AC8:row.P_AC28,P_AC9:row.P_AC29, P_AC10:row.P_AC30,
P_AC11:row.P_AC8,P_AC12:row.P_AC9,P_AC13:row.P_AC10,P_AC14:row.P_AC11,P_AC15:row.P_AC12,P_AC16:row.P_AC13,
P_AC17:row.P_AC14,P_AC18:row.P_AC15,P_AC19:row.P_AC16,P_AC20:row.P_AC17,P_AC21:row.P_AC18,P_AC22:row.P_AC19,
P_AC23:row.P_AC20,P_AC24:row.P_AC21,P_AC25:row.P_AC22,P_AC26:row.P_AC23,P_AC27:row.P_AC24,P_AC28:row.P_AC25,
P_AC29:row.P_AC26,P_AC30:row.P_AC31,P_AC31:row.P_AC27
}));
var finaldata2= jsonArray2.map(row =>({
Date:row.timestamp,P_AC1_101445: row.P_AC1,P_AC2_101445:row.P_AC2,P_AC3_101445:row.P_AC3,P_AC4_101445:row.P_AC4,P_AC5_101445:row.P_AC31,P_AC6_101445:row.P_AC5,
P_AC7_101445:row.P_AC6,P_AC8_101445:row.P_AC7,P_AC9_101445:row.P_AC8, P_AC10_101445:row.P_AC9,P_AC11_101445:row.P_AC10,P_AC12_101445:row.P_AC11,P_AC13_101445:row.P_AC12,
P_AC14_101445:row.P_AC13,P_AC15_101445:row.P_AC14,P_AC16_101445:row.P_AC15,P_AC17_101445:row.P_AC16,P_AC18_101445:row.P_AC17,P_AC19_101445:row.P_AC18,
P_AC20_101445:row.P_AC19,P_AC21_101445:row.P_AC20,P_AC22_101445:row.P_AC21,P_AC23_101445:row.P_AC30,P_AC24_101445:row.P_AC22,P_AC25_101445:row.P_AC23,
P_AC26_101445:row.P_AC24,P_AC27_101445:row.P_AC25,P_AC28_101445:row.P_AC26,P_AC29_101445:row.P_AC27,P_AC30_101445:row.P_AC28,P_AC31_101445:row.P_AC29    
}));


var finaldata3= jsonArray3.map(row =>({
Date:row.timestamp, P_AC1_101408: row.P_AC1,P_AC2_101408:row.P_AC2,P_AC3_101408:row.P_AC3,P_AC4_101408:row.P_AC4,
P_AC5_101408:row.P_AC5,P_AC6_101408:row.P_AC6,P_AC7_101408:row.P_AC7,P_AC8_101408:row.P_AC19,P_AC9_101408:row.P_AC8,P_AC10_101408:row.P_AC9,P_AC11_101408:row.P_AC10,
P_AC12_101408:row.P_AC24,P_AC13_101408:row.P_AC20,P_AC14_101408:row.P_AC25,P_AC15_101408:row.P_AC21,P_AC16_101408:row.P_AC22,P_AC17_101408:row.P_AC23,P_AC18_101408:row.P_AC11,
P_AC19_101408:row.P_AC12,P_AC20_101408:row.P_AC13,P_AC21_101408:row.P_AC14,P_AC22_101408:row.P_AC15,P_AC23_101408:row.P_AC16,P_AC24_101408:row.P_AC17,P_AC25_101408:row.P_AC18
}));

 var finaldata4= jsonArray4.map(row =>({
Date:row.timestamp, P_AC1_101403: row.P_AC22, P_AC2_101403:row.P_AC23, P_AC3_101403:row.P_AC24,P_AC4_101403:row.P_AC25,
 P_AC5_101403:row.P_AC26, P_AC6_101403:row.P_AC27,P_AC7_101403:row.P_AC28,P_AC8_101403:row.P_AC29,P_AC9_101403:row.P_AC30, P_AC10_101403:row.P_AC31,
P_AC11_101403:row.P_AC1,P_AC12_101403:row.P_AC2,P_AC13_101403:row.P_AC3,P_AC14_101403:row.P_AC4,P_AC15_101403:row.P_AC5,P_AC16_101403:row.P_AC6,
P_AC17_101403:row.P_AC7,P_AC18_101403:row.P_AC8,P_AC19_101403:row.P_AC9,P_AC20_101403:row.P_AC10,P_AC21_101403:row.P_AC11,P_AC22_101403:row.P_AC12,
P_AC23_101403:row.P_AC13,P_AC24_101403:row.P_AC14,P_AC25_101403:row.P_AC15,P_AC26_101403:row.P_AC16,P_AC27_101403:row.P_AC17,P_AC28_101403:row.P_AC18,
P_AC29_101403:row.P_AC19,P_AC30_101403:row.P_AC20,P_AC31_101403:row.P_AC21
}));

 var finaldata5= jsonArray5.map(row =>({
Date:row.timestamp, P_AC1_101338: row.P_AC1, P_AC2_101338:row.P_AC2, P_AC3_101338:row.P_AC3,P_AC4_101338:row.P_AC4,
 P_AC5_101338:row.P_AC5, P_AC6_101338:row.P_AC6,P_AC7_101338:row.P_AC7,P_AC8_101338:row.P_AC15,P_AC9_101338:row.P_AC16, P_AC10_101338:row.P_AC17,
P_AC11_101338:row.P_AC18,P_AC12_101338:row.P_AC19,P_AC13_101338:row.P_AC20,P_AC14_101338:row.P_AC23,P_AC15_101338:row.P_AC24,P_AC16_101338:row.P_AC25,
P_AC17_101338:row.P_AC8,P_AC18_101338:row.P_AC9,P_AC19_101338:row.P_AC10,P_AC20_101338:row.P_AC11,P_AC21_101338:row.P_AC12,P_AC22_101338:row.P_AC13,
P_AC23_101338:row.P_AC14,P_AC24_101338:row.P_AC26,P_AC25_101338:row.P_AC27,P_AC26_101338:row.P_AC28,P_AC27_101338:row.P_AC29,P_AC28_101338:row.P_AC30,
P_AC29_101338:row.P_AC31,P_AC30_101338:row.P_AC21,P_AC31_101338:row.P_AC22
}));

 var finaldata6= jsonArray6.map(row =>({
Date:row.timestamp, P_AC1_101337: row.P_AC15, P_AC2_101337:row.P_AC16, P_AC3_101337:row.P_AC17,P_AC4_101337:row.P_AC18,
 P_AC5_101337:row.P_AC19, P_AC6_101337:row.P_AC20,P_AC7_101337:row.P_AC14,P_AC8_101337:row.P_AC21,P_AC9_101337:row.P_AC1, P_AC10_101337:row.P_AC2,
P_AC11_101337:row.P_AC3,P_AC12_101337:row.P_AC4,P_AC13_101337:row.P_AC5,P_AC14_101337:row.P_AC6,P_AC15_101337:row.P_AC7,P_AC16_101337:row.P_AC8,
P_AC17_101337:row.P_AC9,P_AC18_101337:row.P_AC10,P_AC19_101337:row.P_AC11,P_AC20_101337:row.P_AC12,P_AC21_101337:row.P_AC13,P_AC22_101337:row.P_AC22,
P_AC23_101337:row.P_AC23,P_AC24_101337:row.P_AC24,P_AC25_101337:row.P_AC25
}));

var finalarray1 = finaldata1.map(function(v){
     
    var ret;
    
    $.each(finaldata2, function(k, v2){
        
        if(v2.Date=== v.Date){
            ret = $.extend({}, v2, v);
            return false;
        }      
    });
    
    return ret;

});

var finalarray2 = finaldata3.map(function(v){
     
     var ret;
     
     $.each(finaldata4, function(k, v2){
         
         if(v2.Date=== v.Date){
             ret = $.extend({}, v2, v);
             return false;
         }      
     });
     
     return ret;
 
 });
 var finalarray3 = finaldata5.map(function(v){
     
     var ret;
     
     $.each(finaldata6, function(k, v2){
         
         if(v2.Date=== v.Date){
             ret = $.extend({}, v2, v);
             return false;
         }      
     });
     
     return ret;
 
 });
 var finalarray4 = finalarray1.map(function(v){
     
     var ret;
     
     $.each(finalarray2, function(k, v2){
         
         if(v2.Date=== v.Date){
             ret = $.extend({}, v2, v);
             return false;
         }      
     });
     
     return ret;
 
 });
 var finalarray = finalarray4.map(function(v){
     
     var ret;
     
     $.each(finalarray3, function(k, v2){
         
         if(v2.Date=== v.Date){
             ret = $.extend({}, v2, v);
             return false;
         }      
     });
     
     return ret;
 
 });

var finaldata_1 = finalarray.map(row =>({
    //DL1
            Date:row.Date,
            P_AC1: row.P_AC1,
            P_AC2:row.P_AC2,
            P_AC3:row.P_AC3,
            P_AC4:row.P_AC4,
            P_AC5:row.P_AC5,
            P_AC6:row.P_AC6,
            P_AC7:row.P_AC7,
            P_AC8:row.P_AC8,
            P_AC9:row.P_AC9,
            P_AC10:row.P_AC10,
           P_AC11:row.P_AC11,
P_AC12:row.P_AC12,
P_AC13:row.P_AC13,
P_AC14:row.P_AC14,
P_AC15:row.P_AC15,
P_AC16:row.P_AC16,
P_AC17:row.P_AC17,
P_AC18:row.P_AC18,
P_AC19:row.P_AC19,
P_AC20:row.P_AC20,
P_AC21:row.P_AC21,
P_AC22:row.P_AC22,
P_AC23:row.P_AC23,
P_AC24:row.P_AC24,
P_AC25:row.P_AC25,
P_AC26:row.P_AC26,
P_AC27:row.P_AC27,
P_AC28:row.P_AC28,
P_AC29:row.P_AC29,
P_AC30:row.P_AC30,
P_AC31:row.P_AC31,
//DL2
P_AC1_101445: row.P_AC1_101445,
            P_AC2_101445:row.P_AC2_101445,
            P_AC3_101445:row.P_AC3_101445,
            P_AC4_101445:row.P_AC4_101445,
            P_AC5_101445:row.P_AC5_101445,
            P_AC6_101445:row.P_AC6_101445,
            P_AC7_101445:row.P_AC7_101445,
            P_AC8_101445:row.P_AC8_101445,
            P_AC9_101445:row.P_AC9_101445,
            P_AC10_101445:row.P_AC10_101445,
           P_AC11_101445:row.P_AC11_101445,
           P_AC12_101445:row.P_AC12_101445,
P_AC13_101445:row.P_AC13_101445,
P_AC14_101445:row.P_AC14_101445,
P_AC15_101445:row.P_AC15_101445,
P_AC16_101445:row.P_AC16_101445,
P_AC17_101445:row.P_AC17_101445,
P_AC18_101445:row.P_AC18_101445,
P_AC19_101445:row.P_AC19_101445,
P_AC20_101445:row.P_AC20_101445,
P_AC21_101445:row.P_AC21_101445,
P_AC22_101445:row.P_AC22_101445,
P_AC23_101445:row.P_AC23_101445,
P_AC24_101445:row.P_AC24_101445,
P_AC25_101445:row.P_AC25_101445,
P_AC26_101445:row.P_AC26_101445,
P_AC27_101445:row.P_AC27_101445,
P_AC28_101445:row.P_AC28_101445,
P_AC29_101445:row.P_AC29_101445,
    P_AC30_101445:row.P_AC30_101445,
    P_AC31_101445:row.P_AC31_101445,
    //DL3
            P_AC1_101408: row.P_AC1_101408,
            P_AC2_101408:row.P_AC2_101408,
            P_AC3_101408:row.P_AC3_101408,
            P_AC4_101408:row.P_AC4_101408,
            P_AC5_101408:row.P_AC5_101408,
            P_AC6_101408:row.P_AC6_101408,
            P_AC7_101408:row.P_AC7_101408,
            P_AC8_101408:row.P_AC8_101408,
            P_AC9_101408:row.P_AC9_101408,
            P_AC10_101408:row.P_AC10_101408,
           P_AC11_101408:row.P_AC11_101408,
P_AC12_101408:row.P_AC12_101408,
P_AC13_101408:row.P_AC13_101408,
P_AC14_101408:row.P_AC14_101408,
P_AC15_101408:row.P_AC15_101408,
P_AC16_101408:row.P_AC16_101408,
P_AC17_101408:row.P_AC17_101408,
P_AC18_101408:row.P_AC18_101408,
P_AC19_101408:row.P_AC19_101408,
P_AC20_101408:row.P_AC20_101408,
P_AC21_101408:row.P_AC21_101408,
P_AC22_101408:row.P_AC22_101408,
P_AC23_101408:row.P_AC23_101408,
P_AC24_101408:row.P_AC24_101408,
P_AC25_101408:row.P_AC25_101408,
//DL4
P_AC1_101403: row.P_AC1_101403,
            P_AC2_101403:row.P_AC2_101403,
            P_AC3_101403:row.P_AC3_101403,
            P_AC4_101403:row.P_AC4_101403,
            P_AC5_101403:row.P_AC5_101403,
            P_AC6_101403:row.P_AC6_101403,
            P_AC7_101403:row.P_AC7_101403,
            P_AC8_101403:row.P_AC8_101403,
            P_AC9_101403:row.P_AC9_101403,
            P_AC10_101403:row.P_AC10_101403,
           P_AC11_101403:row.P_AC11_101403,
P_AC12_101403:row.P_AC12_101403,
P_AC13_101403:row.P_AC13_101403,
P_AC14_101403:row.P_AC14_101403,
P_AC15_101403:row.P_AC15_101403,
P_AC16_101403:row.P_AC16_101403,
P_AC17_101403:row.P_AC17_101403,
P_AC18_101403:row.P_AC18_101403,
P_AC19_101403:row.P_AC19_101403,
P_AC20_101403:row.P_AC20_101403,
P_AC21_101403:row.P_AC21_101403,
P_AC22_101403:row.P_AC22_101403,
P_AC23_101403:row.P_AC23_101403,
P_AC24_101403:row.P_AC24_101403,
P_AC25_101403:row.P_AC25_101403,
P_AC26_101403:row.P_AC26_101403,
P_AC27_101403:row.P_AC27_101403,
P_AC28_101403:row.P_AC28_101403,
P_AC29_101403:row.P_AC29_101403,
P_AC30_101403:row.P_AC30_101403,
P_AC31_101403:row.P_AC31_101403,
//DL5
P_AC1_101338:row.P_AC1_101338,
            P_AC2_101338:row.P_AC2_101338,
            P_AC3_101338:row.P_AC3_101338,
            P_AC4_101338:row.P_AC4_101338,
            P_AC5_101338:row.P_AC5_101338,
            P_AC6_101338:row.P_AC6_101338,
            P_AC7_101338:row.P_AC7_101338,
            P_AC8_101338:row.P_AC8_101338,
            P_AC9_101338:row.P_AC9_101338,
            P_AC10_101338:row.P_AC10_101338,
           P_AC11_101338:row.P_AC11_101338,
P_AC12_101338:row.P_AC12_101338,
P_AC13_101338:row.P_AC13_101338,
P_AC14_101338:row.P_AC14_101338,
P_AC15_101338:row.P_AC15_101338,
P_AC16_101338:row.P_AC16_101338,
P_AC17_101338:row.P_AC17_101338,
P_AC18_101338:row.P_AC18_101338,
P_AC19_101338:row.P_AC19_101338,
P_AC20_101338:row.P_AC20_101338,
P_AC21_101338:row.P_AC21_101338,
P_AC22_101338:row.P_AC22_101338,
P_AC23_101338:row.P_AC23_101338,
P_AC24_101338:row.P_AC24_101338,
P_AC25_101338:row.P_AC25_101338,
P_AC26_101338:row.P_AC26_101338,
P_AC27_101338:row.P_AC27_101338,
P_AC28_101338:row.P_AC28_101338,
P_AC29_101338:row.P_AC29_101338,
P_AC30_101338:row.P_AC30_101338,
P_AC31_101338:row.P_AC31_101338,
//DL6
P_AC1_101337: row.P_AC1_101337,
            P_AC2_101337:row.P_AC2_101337,
            P_AC3_101337:row.P_AC3_101337,
            P_AC4_101337:row.P_AC4_101337,
            P_AC5_101337:row.P_AC5_101337,
            P_AC6_101337:row.P_AC6_101337,
            P_AC7_101337:row.P_AC7_101337,
            P_AC8_101337:row.P_AC8_101337,
            P_AC9_101337:row.P_AC9_101337,
            P_AC10_101337:row.P_AC10_101337,
           P_AC11_101337:row.P_AC11_101337,
P_AC12_101337:row.P_AC12_101337,
P_AC13_101337:row.P_AC13_101337,
P_AC14_101337:row.P_AC14_101337,
P_AC15_101337:row.P_AC15_101337,
P_AC16_101337:row.P_AC16_101337,
P_AC17_101337:row.P_AC17_101337,
P_AC18_101337:row.P_AC18_101337,
P_AC19_101337:row.P_AC19_101337,
P_AC20_101337:row.P_AC20_101337,
P_AC21_101337:row.P_AC21_101337,
P_AC22_101337:row.P_AC22_101337,
P_AC23_101337:row.P_AC23_101337,
P_AC24_101337:row.P_AC24_101337,
P_AC25_101337:row.P_AC25_101337,





    
}));

const csvData=objectToCsv(finaldata_1);

 //console.log(csvData);
 download(csvData);
    };
 

(function(){
    const button=document.getElementById('mybutton');
    button.addEventListener('click', function(){getReport()});

})();

</script>

<script>
        function initComparisons() {
          var x, i;
          /*find all elements with an "overlay" class:*/
          x = document.getElementsByClassName("img-comp-overlay");
          for (i = 0; i < x.length; i++) {
            /*once for each "overlay" element:
            pass the "overlay" element as a parameter when executing the compareImages function:*/
            compareImages(x[i]);
          }
          function compareImages(img) {
            var slider, img, clicked = 0, w, h;
            /*get the width and height of the img element*/
            w = img.offsetWidth;
            h = img.offsetHeight;
            /*set the width of the img element to 50%:*/
            img.style.width = (w / 2) + "px";
            /*create slider:*/
            slider = document.createElement("DIV");
            slider.setAttribute("class", "img-comp-slider");
            /*insert slider*/
            img.parentElement.insertBefore(slider, img);
            /*position the slider in the middle:*/
            slider.style.top = (h) - (slider.offsetHeight) + "px";
            slider.style.left = (w / 2) - (slider.offsetWidth / 2) + "px";
            /*execute a function when the mouse button is pressed:*/
            slider.addEventListener("mousedown", slideReady);
            /*and another function when the mouse button is released:*/
            window.addEventListener("mouseup", slideFinish);
            /*or touched (for touch screens:*/
            slider.addEventListener("touchstart", slideReady);
            /*and released (for touch screens:*/
            window.addEventListener("touchstop", slideFinish);
            function slideReady(e) {
              /*prevent any other actions that may occur when moving over the image:*/
              e.preventDefault();
              /*the slider is now clicked and ready to move:*/
              clicked = 1;
              /*execute a function when the slider is moved:*/
              window.addEventListener("mousemove", slideMove);
              window.addEventListener("touchmove", slideMove);
            }
            function slideFinish() {
              /*the slider is no longer clicked:*/
              clicked = 0;
            }
            function slideMove(e) {
              var pos;
              /*if the slider is no longer clicked, exit this function:*/
              if (clicked == 0) return false;
              /*get the cursor's x position:*/
              pos = getCursorPos(e)
              /*prevent the slider from being positioned outside the image:*/
              if (pos < 0) pos = 0;
              if (pos > w) pos = w;
              /*execute a function that will resize the overlay image according to the cursor:*/
              slide(pos);
            }
            function getCursorPos(e) {
              var a, x = 0;
              e = e || window.event;
              /*get the x positions of the image:*/
              a = img.getBoundingClientRect();
              /*calculate the cursor's x coordinate, relative to the image:*/
              x = e.pageX - a.left;
              /*consider any page scrolling:*/
              x = x - window.pageXOffset;
              return x;
            }
            function slide(x) {
              /*resize the image:*/
              img.style.width = x + "px";
              /*position the slider:*/
              slider.style.left = img.offsetWidth - (slider.offsetWidth / 2) + "px";
            }
          }
        }
        </script>

<marquee behavior="scroll" SCROLLDELAY=200 VSPACE=20 BGCOLOR=#4dffd2  direction="center"><img src="http://www.renewablepower.net/Assets/images/goldbeck-partner.png" width=50% height="25%" /></marquee>


        <div id="grad1">
                
                <button class="mybutton">DOWNLOAD</button>
                <div id="myProgress">
                    <div id="myBar">1%</div>
                  </div>
   
                <div class="img-comp-img">
            <img src="C:\Users\upadrast\Desktop\csm_Solar4_6a147fffd9.jpg" width=100% height="500">
          </div>
          <div class="img-comp-img img-comp-overlay">
            <img src="C:\Users\upadrast\Desktop\csm_0798_01_B_FTS_Lauterbach_e385a2e62b.jpg" width=100% height="300">
          </div>
</div>

<script>
        /*Execute a function that will execute an image compare function for each element with the img-comp-overlay class:*/
        initComparisons();
        </script>

